<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>About CodeHub</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque vehicula felis egestas bibendum.
                Donec ut finibus felis. Nullam erat arcu, pulvinar vel velit vel, porta rhoncus sem. Nam viverra vulputate gravida.
                Vivamus nec enim ex. In orci quam, ultrices consectetur varius a, finibus sed risus. Donec erat lorem, tempor ut risus congue,
                porta rutrum tellus. Morbi vel erat id ligula feugiat ullamcorper. Suspendisse eget felis nec augue ullamcorper fringilla.
                Aenean laoreet maximus egestas.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque vehicula felis egestas bibendum.
                Donec ut finibus felis. Nullam erat arcu, pulvinar vel velit vel, porta rhoncus sem. Nam viverra vulputate gravida.
                Vivamus nec enim ex. In orci quam, ultrices consectetur varius a, finibus sed risus. Donec erat lorem, tempor ut risus congue,
                porta rutrum tellus. Morbi vel erat id ligula feugiat ullamcorper. Suspendisse eget felis nec augue ullamcorper fringilla.
                Aenean laoreet maximus egestas.
            </p>
        </div>
        <div class="col-md-6 d-flex">
            <div class="img-container d-flex align-items-center">
                <img class="img-fluid" src="../assets/img/index-img.png" />
            </div>
        </div>
    </div>
</div>


