.disabled {
  pointer-events: none;
  color: #212529;
}

.search-btn {
  top: 0;
  right: 0;
  border: none;
  border-radius: 0;
  background-color: #232b4c;
  color: inherit;
}

.question-card:hover {
  color: inherit;
}
