<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Enter your username" formControlName="username" >
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password" >
    </div>

    <button [disabled]="registerForm.get('username')?.invalid || registerForm.get('password')?.invalid" type="submit" class="btn btn-primary">Register</button>
    <p>{{ registerStatus }}</p>
</form>


