html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background: #0e0c15; /*background: #31293c;*/
  color: #fdfdfd;
  font-family: 'Inconsolata', monospace;
  overflow: auto;
}

main {
  padding: 1rem;
}

nav {
  letter-spacing: 2px;
  border-bottom: solid #2a272e 1px;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
   color: #649ef4;
}

.hover-underline:hover {
  text-decoration: underline;
}

.logo {
  width: 40px;
}

.logoText {
  font-size: 24px;
  color: #fdfdfd;
}

button {
  padding: 0.5rem 1rem;
  outline: none;
  background: none;
  color: inherit;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid white;
}

.loginBtn {
  background: linear-gradient(#0e0c15, #15131d) padding-box, linear-gradient(60deg, #201d2c, #5290ec) border-box;
  border: 3px solid transparent;
}

.navbar-collapse {
  display: grid;
  gap: 1.3rem;
  justify-content: flex-start;
}

.btn {
  background-color: transparent;
}

.forum-border {
  border-bottom: 1px solid #2a272e;
}